* {
    margin: 0px;
}


body {
    font-family: Helvetica;
}

h2 {
    color: blue;
    margin-top: 60px;
    margin-left: 50px;
}

.drop-down {
    position: relative;
    display: inline-block; /* so the menu doesn't appear 
    when hovering to the right of the button */
    margin-left: 50px;
}

.button {
    background-color: blue;
    border-color: blue;
    color: white;
    font-size: 18px;
    padding: 12px 22px;
}

.menu, .submenu {
    display: none; /* so the menu is hidden */
    position: absolute; /* so the menu appears in front 
    of other content */
    background-color: skyblue; /* so the menu 
    background is not transparent */
    z-index: 1;
}

.menu a {
    color: blue;
    text-decoration: none;
    padding: 12px 22px;
    display: block; /* so the menu items are displayed 
    vertically */
}

.drop-down:hover .menu, .pizza:hover #pizza-menu, 
.pasta:hover #pasta-menu, .beverages:hover #beverage-menu 
{
    display: block; /* so the menu appears */
}

.menu a:hover {
    background-color: rgb(94, 165, 247);
}

.submenu {
    left: 159px;
}

#pizza-menu {
    top: 0px;
}

#pasta-menu {
    top: 42px;
    width: 216px;
}

#beverage-menu {
    top: 84px;
}

.text {
    background-color: lightgreen;
    padding-left: 50px;
}

